<h1>Testing template</h1>

<h2>If statements</h2>

<span>true works</span>
<span>true works</span>
<span>space</span>
<span>else works</span>
<span>else if works</span>

<span>else if works 2</span>

<h2>For loops</h2>
<span>A</span>
<span>B</span>
<span>C</span>

<h2>Partials</h2>
<div><span>partial block works</span></div>
<span>partial without block works</span>
<span>conditional partial works</span>

<h2>Objects</h2>
<span>hello</span>
<span>world</span>
<span>5</span>
<span>true</span>
<span>1</span>
<span>2</span>
<span>3</span>
<span>true object value works</span>
